Repository gawbul/pyEnsemblRest: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, mypy

poetry-check:
  name: poetry-check
  entry: poetry check --quiet
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

Fix permissions.
  .github/workflows/push_tag.yaml
Due: none

Ignore unit-tests when not python files.
  .pre-commit-config.yaml
Due: none

Test.
  examples.py
Due: none

Test.
  examples.py
  pyensemblrest/__init__.py
Due: mypy

pre-commit works
  pyensemblrest/__init__.py
Due: mypy

Fix push tag (#22)
  .github/workflows/push_tag.yaml
  .pre-commit-config.yaml
Due: none

Fix push tag.
  .github/workflows/push_tag.yaml
Due: none

Fix push tag. (#23)
  .github/workflows/push_tag.yaml
Due: none

Fetch tag.
  .github/workflows/push_tag.yaml
Due: none

Fix push tag (#24)
  .github/workflows/push_tag.yaml
Due: none

Fix poetry build.
  pyproject.toml
Due: poetry-check

Fix poetry build. (#25)
  pyproject.toml
Due: poetry-check

Fetch tags in workflow.
  .github/workflows/push_tag.yaml
Due: none

Fetch tags in workflow. (#26)
  .github/workflows/push_tag.yaml
Due: none

Was missing the poetry plugin.
  .github/workflows/push_tag.yaml
Due: none

Was missing the poetry plugin. (#27)
  .github/workflows/push_tag.yaml
Due: none

Update path.
  .github/workflows/push_tag.yaml
Due: none

Update path. (#28)
  .github/workflows/push_tag.yaml
Due: none

Add additional build status to README.
  README.md
Due: none

Add additional build status to README. (#29)
  README.md
Due: none

Update README.md
  README.md
Due: none

Update README.md (#30)
  README.md
Due: none

Set default version to 0.0.0
  pyensemblrest/__init__.py
Due: mypy

Set default version to 0.0.0 (#31)
  pyensemblrest/__init__.py
Due: mypy

Use metadata version for __version__
  pyensemblrest/__init__.py
Due: mypy

Use metadata version for __version__ (#32)
  pyensemblrest/__init__.py
Due: mypy

Add CLAUDE.md documentation for Claude Code
  CLAUDE.md
Due: none

Add CLAUDE.md documentation for Claude Code (#34)
  CLAUDE.md
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#35)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Add Python 3.13 support (#36)
  .github/workflows/pull_request.yaml
  .github/workflows/push_tag.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

Add Python 3.13 support (#36) (#50)
  .github/workflows/pull_request.yaml
  .github/workflows/push_tag.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

Update dependencies to latest versions
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

Update coveralls and requests version constraints
  poetry.lock
  pyproject.toml
Due: poetry-check

Update pre-commit and types-requests version constraints
  poetry.lock
  pyproject.toml
Due: poetry-check

Update dependencies to latest versions (#51)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

Fix pull_request workflow to trigger on dependency updates
  .github/workflows/pull_request.yaml
Due: none

Fix pre-commit unit-test hook to trigger on dependency updates
  .pre-commit-config.yaml
Due: none

Add test file changes to workflow and pre-commit triggers
  .github/workflows/pull_request.yaml
  .pre-commit-config.yaml
Due: none

Path conditions:
  poetry-check: any of: ^(.*/)?pyproject\.toml$
  mypy: any of: \.py$, but not: ^(tests/|examples.py)
